$default-background: #ffffff;

body {
    height: 100%;
    background-color: $default-background;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  .hoverTable tr:hover {
  background-color: #f2f2f2;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .button-style {
    position: absolute;
    right: 0;
    top: 0;
  }
